@font-face {
  font-family: Handlee;
  src: url(Handlee-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Handlee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
img, .options {
  width: 140px;
  height: 140px;
  padding: 10px;
}
.player-choice {
  display: flex;
  flex-direction: column;
}
.player-choice-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.display-moves, .player-choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scores {
  display: none;
}
.separator {
  font-size: 60px;
}
#close {
  height: 50px;
  width: 50px;
  position: relative;
  top: 16px;
  border: 2px solid green;
  border-radius: 50%;
  margin-left: 10px;
  display: none;
}
#close:hover {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  top: 16px;
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid green;
  background-color: green;
  display: none;
}
.moves {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
#afterClick {
  display: none;
}
button {
  height: 50px;
  width: 250px;
  background-color: transparent;
  border: 2px solid green;
  border-radius: 20px;
}
button:hover {
  height: 50px;
  width: 250px;
  cursor: pointer;
  background-color: green;
  border: 2px solid green;
  border-radius: 20px;
}
 
html {
  height:100%;
} 
body {
  margin:0;
} 
.bg {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
} 
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:6s;
} 
.bg3 {
  animation-duration:7s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}